/* regole e proprietà di stile */

.box{
    width: 100%;
}

body{
    background-color: dodgerblue;
}

.text-color{
    color: white;
}

li strong{
    cursor: pointer;
}

/* regole per rendere il testo barrato */
.crossed{
    text-decoration: line-through;
}