/* regole e proprietà di stile */

.box,
button[type="submit"]{
    width: 100%;
}

body{
    background-color: dodgerblue;
}

.text-color{
    color: white;
}

li strong{
    cursor: pointer;
}

.group-buttons{
    display: flex;
    gap: 8px;
}

.callout{
    background-color: rgb(211, 249, 211);
    border-left: rgb(28, 178, 28) 4px solid;
}

/* regole per rendere il testo barrato */
.crossed{
    text-decoration: line-through;
}